---
import Layout from "../layouts/Layout.astro";
import Rose from "../components/Rose.astro";
import LinkCollection from "../content/LinkCollection.astro";
import Emojis from "../content/Emojis.astro";
import "@fontsource/pacifico";
import "@fontsource/forum";
import { Image } from "astro:assets";
import snow from "../images/snow.jpg";
---

<Layout title="Meine Seite">
  <Rose pos="top-left" />
  <Rose pos="top-right" />
  <Rose pos="bottom-left" />
  <Rose pos="bottom-right" />
  <main>
    <div class="tellonym">
      <a href="https://tellonym.me/relacibo">Tellonym</a>
    </div>
    <h1>Relacibo's Seite</h1>
    <LinkCollection />
    <Emojis />
    <div class="my-image">
      <Image class="the-image" src={snow} alt="Schnee." width="700" />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    border: solid #e978e2 2px;
    border-radius: 1rem;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-family: "Pacifico", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    color: white;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .my-image {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
  }

  .the-image {
    border-radius: 5px;
  }

  .tellonym {
    font-size: 1.5rem;
    position: absolute;
    top: 5rem;
    right: 6rem;
    padding: 0;
  }

  .tellonym > a {
    text-decoration: none;
    font-family: "Forum", sans-serif;
    background-color: rgb(55, 62, 53);
    border-style: solid;
    border-color: #dd9696;
    border-radius: 10px;
    color: #dd9696;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (max-width: 767px) {
    main {
      border: none;
    }

    .tellonym {
      position: inherit;
      font-size: 2rem;
    }
    .tellonym > a {
      display: block;
      padding: 1.3rem;
      text-align: center;
    }
  }
</style>
