---

---
<div class="utterances-container">
  <script src="https://utteranc.es/client.js"
          repo="Relacibo/relacibo.github.io"
          issue-term="pathname"
          theme="photon-dark"
          crossorigin="anonymous"
          async>
  </script>
</div>

<style is:global>
  .utterances-container {
    background-color: #0f100f;
    border-radius: 10px;
  }
  
  .utterances {
    
  }

  .utterances-frame {
  }
</style>
