---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    color: white;
    background: rgb(16,23,11);
background: linear-gradient(11deg, rgba(16,23,11,1) 0%, rgba(41,25,25,1) 100%); 
  }

  body {
    margin: 0;
  }

  .background {
    background-repeat: repeat;
    position: fixed;
    z-index: -2;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  a {
    color: #ff8585;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .footer {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .attribution-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10rem;
    font-size: 1rem;
    width: fit-content;
  }

  @media (max-width: 767px) {
    .attribution-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
